.header-message {
  height: 40px;
  background-color: #22252e;
  transition: all linear 0.4s;

  &__inner {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text,
  &__data,
  &__link {
    margin-left: 32px;
    font-size: 12px;
    line-height: 16px;
    color: #889099;
  }

  &__sign {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 5px;
    color: #ff8d00;
  }

  &__link {
    color: #ffffff;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
  }

  &.remove {
    transform: translateY(-100%);
    height: 0;
    opacity: 0;
  }
}

.header {
  &__inner {
    height: 120px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1420.5px;
    width: 100%;
    margin-left: auto;
    padding: 20px;

    background-color: #fff;
    transition: all linear 0.4s;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buttons {
    margin-right: 40px;
    display: flex;
    align-items: center;
  }

  &__login {
    @include main-btn;

    width: 90px;
  }

  &__started {
    @include main-btn;

    margin-left: 10px;

    width: 160px;

    background: linear-gradient(0deg, $main-green 0%, #5ddf5a 100%);
    color: #fff;
    border: transparent;
  }
}

.header-burger {
  width: 24px;
  height: 16px;
  flex-shrink: 0;
  padding: 0;

  background-color: transparent;
  border: transparent;
  outline: transparent;

  display: none;

  &__line {
    & + div {
      margin-top: 5px;
    }

    height: 2px;
    width: 100%;

    border-radius: 3px;
    background-color: #22252e;
  }
}

.header-nav {
  padding: 0 20px;
  transition: all linear 0.4s;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__line {
    & + li {
      margin-left: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text-semidark;
  }

  &__text {
    padding: 9px 8px 6px 0;
    transition: all linear 0.3s;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid $main-green;
    }
  }

  &.show {
    opacity: 1;
    transform: translateX(0%);
  }
}
